
.fullwidth{
    background:linear-gradient(to bottom, #41291A  0%, #242526 100%)
}
.coverSection {
    max-width: 940px;
    min-height: 510px;
    margin: auto;
    position: relative;
}
.coverPhotos {
    width: 100%;
    position: relative;
}
.coverPhoto {
    width: 100%;
    height: 350px;
    border-radius: 0 0 10px 10px;
}
.profile {
    display: flex;
    align-items: center;
    position: absolute;
    top: 320px;
    left: 40px;
}
span.profileName {
    font-size: 25px;
    font-weight: 900;
    margin-left: 30px;
    text-transform: capitalize;
    color: #fff;
}
span.countFriend {
    display: block;
    margin: 6px 0 0 30px;
    text-transform: capitalize;
    cursor: pointer;
    color: #fff;
}
img.profilePhoto {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
hr.profileHr {
    background-color: #e4f0f6;
    padding: 0;
    margin: 0 auto;
    width: 60%;
    
}
.profile-menu{
   width: 100%;
    background-color: #242526;
    min-height: 60px;
    display: flex;
}
.menu{
    max-width: 940px;
    margin: auto;
}
ul.profile-menu__items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
li.profile-menu__item {
    margin-right: 10px;
    padding: 10px;
}
.profile-menu__item:hover{
    background-color: rgb(212, 203, 203);
    border-radius: 12px;
}
a.menu-item__link {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
}
.profile-content {
    width: 100%;
    background-color: #18191A;
    color: #fff;
    min-height: 100vh;
}
.content {
    max-width: 940px;
    margin: auto;
}
.content {
    display: flex;
}
.profile-left {
    flex: 5;
    
}
.profile-right {
    flex: 7;
}