.login {
    background-color: #F0F2F5;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
}
.loginWrapper {
    display: flex;
    width: 70%;
    height: 70%;
}
.loginLeft, .loginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h2.login-logo {
    color: #1877F2;
    font-size: 30px;
    line-height: 0px;
}
.loginBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    min-height: 300px;
}
input.inputText {
    height: 50px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 18px;
    padding-left: 20px;
    margin: 10px 0;
}

input:focus, textarea:focus, select:focus{
    outline-color: #1877F2;
}
button.loginButton {
    background-color: #1877F2;
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.loginButton:focus{
    outline: none;
}
span.login-forget {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    color: #1877F2;
}
button.login-create {
    background-color: #42B72A;
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    align-self: center;
    margin-top: 10px;
}
hr.loginHr {
    width: 73%;
    border-top: 1px solid #c2ccd1;
} 
.login-create a {
    text-decoration: none;
    color: #fff;
}
